body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./image/empty-white-room.jpeg");
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

main{
  min-height: 31rem;
  max-height: 32rem;
}

/* HOME PAGE START */

#objects,
#global_navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

#objects {
  margin-top: 5rem;
  gap: 15rem;
}
#global_navigation {
  margin-top: 4rem;
  gap: 6rem;
}

#header-img {
  display: block;
  max-width: 1100px;
  width: 70%;
  height: 300px;
  object-fit: cover;
  margin: auto;
  padding-top: 1vw;
}

#header-intro {
  max-width: 700px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content,
.Tdropdown-content,
.Mdropdown-content,
.Sdropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a,
.Tdropdown-content a,
.Mdropdown-content a,
.Sdropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.Tdropdown-content a:hover,
.Mdropdown-content a:hover,
.Sdropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content,
.dropdown:hover .Tdropdown-content,
.dropdown:hover .Mdropdown-content,
.dropdown:hover .Sdropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #d1d1d1;
}

/* HOME PAGE END */

/* THEME SITE START */

.slider {
  
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  height: 300px;
  place-items: center;
  overflow: hidden;
  margin: auto; 
  width: 77%; 
   overflow: hidden;
  
}

#slideshow-con {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2vw;
  animation: scroll 120s linear infinite;
}

#slideshow-con:hover{
  animation-play-state: paused;
}

 


.slide {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* height: 150px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
 */
}

.slideimg {
  transition: transform .2s; 

  width: 400px;
  height: auto;
}

.slideimg:hover {
  /* transform:translateX(20px); */
  transform: scale(1.5);

  
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-170px * 10));
  }
}


#desc {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-items: center;
 
  /* align-items: center; */
  max-width: 50vw;
}

/* THEME SITE END */

/* IMAGE PAGE START */

#full-image {
  display: block;
  max-height: 350px;
  margin: auto;
}

#image-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* IMAGE PAGE END */
